@import url(variables.css);

:root {
    --color-body: white;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: white;
}
header {
    display: flex;
    width: 100%;
    flex-direction: row;
    background-color: rgb(78, 78, 201);
}
header nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
}
header nav ul{
    display: flex;
    width: 100%;
    flex-direction: row;
}
header nav ul li a {
    text-decoration: none;
    justify-content: space-between;
    color: black;
    margin: 50px;
}

/* productos */
.productos {
    /*background-color: rgb(189, 76, 76);*/
    margin: 20px;
}

.producto {
    display: flex;
    width: 1800px;
    height: 600px;
    background: rgb(221, 80, 80);
    padding: 15px;
}
.cajaIzquierda {
   width: 80%;
   height: 50%;
}
.cajaIzquierda img {
    display: flex;
    width: 400px;
    height: 500px;
    position: relative;
    top: 70px;
    right: -300px;
}

.cajaDerecha {
    width: 700px;
    position: relative;
    top: 120px;
    right: 400px;
}
.titulo {
    font-size: 30px;
    margin: 10px;
}
.texto {
    font-size: 20px;
    margin: 10px;
}
.precio {
    font-size: 40px;
    margin: 10px;
}
button {
    width: 150px;
    height: 50px;
    font-size: 20px;
    margin: 10px;
    background-color: rgb(175, 175, 175);
    cursor: pointer;
}