
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
}
header {
    display: flex;
    width: 100%;
    height: 100px;
    flex-direction: row;
    background-color: rgb(239, 174, 255);
    border: black solid 2px;
}
header nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
    position: relative;
    right: -20px;
}
header nav ul{
    display: flex;
    width: 100%;
    flex-direction: row;
}
header nav ul li a {
    text-decoration: none;
    justify-content: space-between;
    color: black;
    margin: 55px;
    font-size: 25px;
}

/* productos */
.productos {
    /*background-color: rgb(189, 76, 76);*/
    margin: 10px;
    border-radius: 200px;
}

.producto {
    display: flex;
    width: 1800px;
    height: 600px;
    background: rgb(255, 160, 160);
    border: black solid 2px;
    margin: 20px;
    
}
.img-Chikis {
    flex-direction: column;
    position: relative;
    top: 60px;
    right: -140px;
    width: 100px;
}
.img-Chikis img {
    flex-direction: row;
    width: 130px;
    height: 130px;
    background-color: black;
    border-radius: 20px;
    border: black solid 4px;
}
.cajaIzquierda {
   width: 80%;
   height: 50%;
}

.cajaIzquierda img {
    display: flex;
    width: 400px;
    height: 500px;
    position: relative;
    top: 70px;
    right: -250px;
    border-radius: 20px;
    border: black solid 10px;
}

.cajaDerecha {
    width: 800px;
    position: relative;
    top: 100px;
    right: 400px;
}
.titulo {
    font-size: 30px;
    margin: 15px;
}
.texto {
    font-size: 20px;
    margin: 15px;
}
.precio {
    font-size: 40px;
    margin: 15px;
}
button {
    width: 150px;
    height: 50px;
    font-size: 20px;
    margin: 15px;
    background-color: rgb(175, 175, 175);
    cursor: pointer;
}